<nb-card>
    <nb-card-header>Add new Product</nb-card-header>

    <nb-card-body>
        <form #form="ngForm">
            <h5 class="section-title">Product Details</h5>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="nameInput" class="label">Product Name</label>
                        <input
                            type="text"
                            nbInput
                            fullWidth
                            id="nameInput"
                            
                            name="productName"
                            placeholder="Enter Product Name"
                            required
                        />
                    </div>
                </div>
            </div>
        </form>
                
    </nb-card-body>
    <nb-card-footer>
        <button nbButton status="primary" >Save</button>
        <button nbButton status="danger" >Cancel</button>
    </nb-card-footer>
</nb-card>
