<nb-card>
  <nb-card-header
    >Add new Product
    <button nbButton status="danger" ghost class="close">
      <nb-icon icon="close" (click)="close()"></nb-icon>
    </button>
  </nb-card-header>

  <nb-card-body>
    <form #form="ngForm">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="nameInput" class="label">Product Name</label>
            <input
              type="text"
              nbInput
              fullWidth
              id="nameInput"
              name="productName"
              placeholder="Enter Product Name"
              required
            />
          </div>
          <div class="form-group">
          <label for="rateInput" class="label">Rate</label>
          <input
            type="text"
            nbInput
            fullWidth
            id="rateInput"
            name="Rate"
            placeholder="Enter Rate"
            required
          />
        </div>
      </div>
    </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <div class="action-buttons">
      <button nbButton status="primary">add</button>
    </div>
  </nb-card-footer>
</nb-card>
