<nb-actions size="medium">
  <nb-action class="action">
    <button nbButton (click)="openAddInvoiceDialog()">
      <nb-icon class="nb-icon" icon="file-add-outline" status="primary"></nb-icon>
    </button>
    <button nbButton (click)="refresh()">
      <nb-icon status="danger" icon="sync-outline"></nb-icon>
    </button>
  </nb-action>
</nb-actions>

<nb-card size="medium">
  <nb-card-header>Invoices</nb-card-header>
  <nb-card-body>
    <ng-container>
      <nb-list>
        <nb-list-item class="list-item" *ngFor="let invoice of invoices; let i = index">
          <div class="invoice-status">
            <ng-container *ngFor="let status of invoice.statusUpdate">
              <nb-tag [status]="status.status" appearance="outline" [text]="status.text"></nb-tag>
            </ng-container>
          </div>
          <div class="invoice-details">
            <span class="invoice-name">
              {{ invoice.invoiceId }} - {{ invoice.customerName }}
            </span>
            
            <div class="invoice-date">
              <span class="invoice-date">
                {{ invoice.InvoiceDate | date : "medium" }}
              </span>
            </div>
          </div>

          <div class="product-actions">
            <button nbButton size="small" ghost status="primary">
              <nb-icon class="card-icon" icon="edit-2-outline" (click)="editInvoiceDialog(i)"></nb-icon>
            </button>
            <button nbButton size="small" ghost status="danger" (click)="deleteInvoice(i)">
              <nb-icon class="card-icon" icon="trash-2" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
            </button>
          </div>

        </nb-list-item>
      </nb-list>
    </ng-container>
  </nb-card-body>
</nb-card>