:host {
  :ng-deep nb-list-item {
    display: flex;
    flex-wrap: nowrap;
    /* Don't wrap on desktop */
    justify-content: space-between;
    /* Pushes content left, buttons right */
    align-items: center;
    width: 100%;
    padding: 1rem 0.75rem !important;
    /* Add some padding */
  }

  .action button {
    margin: 0 1rem 0 1rem;
  }

  .list-item {
    display: flex;
    justify-content: space-between; /* Name ne left ma, baaki ne right ma dhakelva */
    align-items: center; /* Vertically center ma rakhva */
    padding: 10px 0;

    /* This container holds the text content (Name, Date).
    It stacks them vertically.
  */

    .invoice-status {
      width: 15%; /* Example: Name ne vadhare jagya aapo */
      overflow: hidden; /* Jo naam vadhare lambu hoy toh chhipavi do */
      text-overflow: ellipsis; /* ... dots dekhaadva mate */
      white-space: nowrap; /* Example: Name ne vadhare jagya aapo */
    }

    .invoice-details {
      display: flex;
      flex-grow: 1; /* Aene maximum space aapvi */
      gap: 2rem;

      .invoice-name {
        width: 30%; /* Example: Name ne vadhare jagya aapo */
        text-align: left;
        overflow: hidden; /* Jo naam vadhare lambu hoy toh chhipavi do */
        text-overflow: ellipsis; /* ... dots dekhaadva mate */
      }

      .invoice-date {
        width: 30%; /* Price ne fix jagya aapo */
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .product-actions {
        /* Edit ane Delete icons no group */
        display: flex;
        width: 10%; /* Buttons ne fix jagya aapo */
        justify-content: flex-end; /* Buttons ne right ma chipkavi deva */
      }
    }
  }
}

@media (max-width: 576px) {
  :host {
    ::ng-deep nb-list-item {
      flex-wrap: wrap;
      row-gap: 0.75rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    .list-item {
      // flex-grow: 1;

      .invoice-status {
        display: flex;
        width: 30%;
        white-space: nowrap;
      }

      .invoice-details {
        display: flex;
        width: 100%;

        .invoice-name {
          width: 50%; /* Example: Name ne vadhare jagya aapo */
          text-overflow: ellipsis;
          text-align: left;
        }

        .invoice-date {
          width: 40%; /* Example: Name ne vadhare jagya aapo */
          overflow: hidden; /* Jo naam vadhare lambu hoy toh chhipavi do */
          text-overflow: ellipsis; /* ... dots dekhaadva mate */
          white-space: nowrap;
        }

        .item-actions {
          // flex-direction: row;
          justify-content: flex-end;
          margin-left: 0;
        }
      }
    }
  }
}
