<nb-actions size="medium">
  <nb-action class="action">
    <button nbButton (click)="openAddInvoiceDialog()">
      <nb-icon class="nb-icon" icon="file-add-outline" status="primary"></nb-icon>
    </button>
    <button nbButton (click)="refresh()">
      <nb-icon status="danger" icon="sync-outline"></nb-icon>
    </button>
  </nb-action>
</nb-actions>

<nb-card size="large">
  <nb-card-header>
    <h5>Invoices</h5>
  </nb-card-header>
  <nb-card-header class="col-header">
    <div class="invoice-header">
      <div class="col index">#</div>
      <div class="col status">Status</div>
      <div class="col name">Name</div>
      <div class="col date">Date</div>
      <div class="col actions">Actions</div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="invoice-list-container">
      <!-- list -->
      <nb-list>
        <nb-list-item class="list-item" *ngFor="let invoice of invoices; let i = index">
          <div class="col index">{{ invoice.invoiceId }}</div>

          <div class="col status">
            <ng-container *ngFor="let status of invoice.statusUpdate">
              <nb-tag *ngIf="status.status || status.text" [status]="status.status" appearance="outline"
                [text]="status.text"></nb-tag>
            </ng-container>
          </div>

          <div class="col name">
            {{ i + 1 }} - {{ invoice.customerName }}
          </div>

          <div class="col date">
            {{ invoice.InvoiceDate | date: "medium" }}
          </div>

          <div class="col actions">
            <button nbButton size="small" ghost status="primary" (click)="editInvoiceDialog(i)">
              <nb-icon icon="edit-2-outline"></nb-icon>
            </button>
            <button nbButton size="small" ghost status="danger" (click)="deleteInvoice(i)">
              <nb-icon icon="trash-2"></nb-icon>
            </button>
          </div>
        </nb-list-item>
      </nb-list>
    </div>
  </nb-card-body>
</nb-card>