.action button {
  margin: 0 1rem 0 1rem;
}

.card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.invoice-name {
  margin: 0;
  font-weight: 600;
  color: var(--text-basic-color);
}

.invoice-name,
.invoice-category,
.invoice-id {
  font-size: 1rem;
  color: var(--text-hint-color);
  margin-left: 1rem;
}

#button {
  align-items: center;

  button {
    margin-right: 0.5rem;
  }
}
