<nb-actions size="medium">
  <nb-action >
    <button nbButton status="primary" ghost>
      <nb-icon
        class="nb-icon"
        icon="person-add"
        status="primary"
        (click)="openAddAdminDialog()"
      ></nb-icon> 
    </button>
    <button nbButton (click)="refresh()">
      <nb-icon status="danger" icon="sync-outline"></nb-icon>
    </button>
  </nb-action>
</nb-actions>

<nb-card size="medium">
  <nb-card-header>Admins</nb-card-header>
  <nb-card-body>
    <ng-container>
      <nb-list>
        <nb-list-item class="card-content" *ngFor="let users of Admin; let i = index">
          <nb-user [name]="users.shopName" [title]="users.emailId"> </nb-user>
          <button nbButton size="small" (click)="deleteAdmin(i)">
            <nb-icon
              class="card-icon"
              icon="trash-2"
              [options]="{ animation: { type: 'shake' } }"
            ></nb-icon>
          </button>
        </nb-list-item>
      </nb-list>
    </ng-container>
  </nb-card-body>
</nb-card>
