/* Interactive elements */
.nb-icon:hover {
  color: royalblue;
}

.card-icon {
  margin-left: 80px;
}

.card-icon:hover {
  color: royalblue;
}

/* Card content layout */
.card-content {
  justify-content: space-between;
  display: flex;
}

nb-list-item:hover {
  background-color: #f8f6f4;
}

::ng-deep nb-layout-column {
  height: 80vw;
}
::ng-deep nb-layout-column {
  overflow: auto;
}