<nb-actions size="medium">
  <nb-action >
    <button nbButton>
      <nb-icon
        class="nb-icon"
        icon="person-add"
        (click)="openAddAdminDialog()"
      ></nb-icon> 
    </button>
  </nb-action>
</nb-actions>

<nb-card size="medium">
  <nb-card-header>Admins</nb-card-header>
  <nb-card-body>
    <ng-container>
      <nb-list>
        <nb-list-item class="card-content" *ngFor="let users of Admin; let i = index">
          <nb-user [name]="users.shopName" [title]="users.emailId"> </nb-user>
          <nb-icon
            class="card-icon"
            icon="trash-2"
            [options]="{ animation: { type: 'shake' } }"
            (click)="deleteAdmin(i)"
          ></nb-icon>
        </nb-list-item>
      </nb-list>
    </ng-container>
  </nb-card-body>
</nb-card>
