<nb-actions size="medium">
  <nb-action class="action">
    <button nbButton (click)="openAddAdminDialog()">
      <nb-icon class="nb-icon" icon="file-add-outline" status="primary"></nb-icon>
    </button>
    <button nbButton (click)="refresh()">
      <nb-icon status="danger" icon="sync-outline"></nb-icon>
    </button>
  </nb-action>
</nb-actions>

<nb-card size="large">
  <nb-card-header>Admins</nb-card-header>
  <nb-card-header class="col-header">
    <div class="invoice-header">
      <div class="col index">No.</div>
      <div class="col role">Role</div>
      <div class="col user-profile">User Name</div>
      <div class="col email">Email</div>
      <!-- <div class="col date">Date</div> -->
      <div class="col actions">Actions</div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="invoice-list-container">
      <nb-list>
        <nb-list-item class="list-item" *ngFor="let users of Admin; let i = index">
          <div class="col index">{{ i + 1 }}</div>
          <div class="col role">
            <nb-tag appearance="outline" [text]="users.role"></nb-tag>
          </div>
          <div class="col user-profile">
            <nb-user [name]="users.shopName"></nb-user>
          </div>
          <div class="col email">
            {{users.emailId}}
          </div>
          <div class="col actions">
            <button nbButton size="small" ghost status="primary" (click)="editAdminDialog(i)">
              <nb-icon icon="edit-2-outline"></nb-icon>
            </button>
            <button nbButton size="small" ghost status="danger" (click)="deleteAdmin(i)">
              <nb-icon icon="trash-2"></nb-icon>
            </button>
          </div>
        </nb-list-item>
      </nb-list>
    </div>
  </nb-card-body>
</nb-card>