<nb-actions size="medium">
  <nb-action class="action">
    <button nbButton (click)="openAddProductDialog()">
      <nb-icon class="nb-icon" icon="plus-outline" status="primary"></nb-icon>
    </button>
    <button nbButton (click)="refresh()">
      <nb-icon status="danger" icon="sync-outline"></nb-icon>
    </button>
  </nb-action>
</nb-actions>

<nb-card size="large">
  <nb-card-header>
    <h5>Products</h5>
  </nb-card-header>

  <!-- Column Header (like Bill page) -->
  <nb-card-header class="col-header">
    <div class="product-header">
      <div class="col index">#</div>
      <div class="col name">Name</div>
      <div class="col price">Price</div>
      <div class="col actions">Actions</div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="product-list-container">
      <nb-list>
        <nb-list-item class="product-list" *ngFor="let Product of Products; let i = index">
          <div class="col index">{{ i + 1 }}</div>

          <div class="col name">
            {{ Product.ProductId }} - {{ Product.Name }}
          </div>

          <div class="col price">
            {{ Product.Rate | currency:'INR' }}
          </div>

          <div class="col actions">
            <button nbButton size="small" ghost status="primary" (click)="editProductDialog(i)">
              <nb-icon class="card-icon" icon="edit-2-outline"></nb-icon>
            </button>
            <button nbButton size="small" ghost status="danger" (click)="deleteProduct(i)">
              <nb-icon class="card-icon" icon="trash-2"></nb-icon>
            </button>
          </div>
        </nb-list-item>
      </nb-list>
    </div>
  </nb-card-body>
</nb-card>