<nb-actions size="medium">
  <nb-action>
    <button nbButton>
      <nb-icon
        class="nb-icon"
        icon="person-add"
        (click)="openAddProductDialog()"
      ></nb-icon>
    </button>
  </nb-action>
</nb-actions>

<nb-card size="medium">
  <nb-card-header>Products</nb-card-header>
  <nb-card-body>
    <ng-container>
      <nb-list>
        <nb-list-item class="card-content" *ngFor="let Product of Products; let i = index">
          <div class="product-name">
           {{Product.ProductId}} -{{Product.Name}}
          </div>
          <span >{{Product.Rate.valueOf() | currency:'INR'}}</span>
          <button nbButton size="small" ghost status="danger">
              <nb-icon
                class="card-icon"
                icon="trash-2"
                [options]="{ animation: { type: 'shake' } }"
                (click)="deleteProduct(i)"
              ></nb-icon>
            </button>
        </nb-list-item>
      </nb-list>
    </ng-container> 
  </nb-card-body>
</nb-card>
