<nb-card class="invoice-form-card own-scroll">
  <nb-card-header>Add New Invoice</nb-card-header>

  <nb-card-body>
    <form #form="ngForm">
      <div class="bill-head">
        <h2 class="shopName">HALDIRAM</h2>
        <hr />
        <p>A-12, Sharda Hub , Rajsthan, India</p>
      </div>
      <h6 class="section-title">Invoice Details</h6>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="nameInput" class="label">Name</label>
            <input
              type="text"
              nbInput
              fullWidth
              id="nameInput"
              [(ngModel)]="addInvoice.customerName"
              name="customerName"
              placeholder="Enter Customer Name"
              required
            />
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label for="phoneInput" class="label">Phone No</label>
            <input
              type="tel"
              nbInput
              fullWidth
              id="phoneInput"
              [(ngModel)]="addInvoice.phoneNo"
              name="phoneNo"
              placeholder="Enter Phone No"
              required
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="emailInput" class="label">Email Address</label>
            <input
              type="email"
              nbInput
              fullWidth
              id="emailInput"
              [(ngModel)]="addInvoice.emailAddress"
              name="emailAddress"
              placeholder="Enter Email Address"
            />
          </div>
        </div>

        <div class="col-sm-6 form-group">
          <label for="invoiceDateInput" class="label">Invoice Date</label>
          <input
            [nbDatepicker]="datepicker"
            nbInput
            fullWidth
            id="invoiceDateInput"
            [(ngModel)]="addInvoice.InvoiceDate"
            name="invoiceDate"
            placeholder="Select Invoice Date"
            required
          />
          <nb-datepicker #datepicker></nb-datepicker>
        </div>
      </div>

      <div class="col-sm-6 form-group">
        <label for="dueDateInput" class="label">Add Address</label>
        <textarea
          nbInput
          fullWidth
          rows="3"
          placeholder="Add address here...."
          [(ngModel)]="addInvoice.Address"
          name="Address"
        ></textarea>
      </div>

      <h5 class="section-title">Items Details</h5>

      <div class="items-table-container">
        <div class="items-row header-row">
          <div class="item-col col-srno">Sr. No.</div>
          <hr />
          <div class="item-col col-products">PRODUCTS</div>
          <div class="item-col col-rate">RATE</div>
          <div class="item-col col-qty">QTY</div>
          <div class="item-col col-gst">GST</div>
          <div class="item-col col-amount">AMOUNT</div>
          <div class="item-col col-delete"></div>
        </div>

        <ng-container *ngFor="let item of addInvoice.items; let i = index">
          <div class="items-row data-row">
            <div class="item-col col-srno">{{ i + 1 }}</div>
            <div class="item-col col-products">
              <nb-select
                placeholder="Choose Product"
                hero
                required
                fullWidth
                [selected]="selectedProduct"
                [(ngModel)]="item.product"
                (ngModelChange)="updateRate(item)"
                name="products_{{ i }}"
              >
                <nb-option>select option</nb-option>
                <nb-option
                  *ngFor="let product of products"
                  [value]="product.Name"
                  >{{ product.Name }}</nb-option
                >
              </nb-select>
            </div>
            <div class="item-col col-rate">
              <input
                type="number"
                nbInput
                fullWidth
                placeholder="0"
                [(ngModel)]="item.rate"
                (ngModelChange)="calculateAmount(item)"
                name="rate_{{ i }}"
              />
            </div>
            <div class="item-col col-qty">
              <input
                type="number"
                nbInput
                fullWidth
                placeholder="0"
                [(ngModel)]="item.qty"
                (ngModelChange)="calculateAmount(item)"
                name="qty_{{ i }}"
              />
            </div>

            <div class="item-col col-gst">
              <nb-select
              hero
                placeholder="Gst"
                [(ngModel)]="item.gst"
                (ngModelChange)="calculateAmount(item)"
                multiple="disabled"
                name="gst_{{ i }}"
              >
                <nb-option>select option</nb-option>
                <nb-option *ngFor="let gst of gstRate" [value]="gst">{{gst+'%'}}</nb-option>
              </nb-select>
            </div>

            <div class="item-col col-amount">
              {{ item.amount | currency : "INR" }}
            </div>
            <div class="delete-item-btn col-delete">
              <button
                nbButton
                outline
                status="danger"
                size="small"
                class="item-col"
                (click)="removeItem(i)"
              >
                <nb-icon icon="trash-2-outline"></nb-icon>
              </button>
            </div>
          </div>
        </ng-container>

        <div class="item-col add-item-btn-container">
          <button
            nbButton
            outline
            status="primary"
            size="small"
            (click)="addItem()"
          >
            <nb-icon icon="plus-outline"></nb-icon> ADD
          </button>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-sm-6">
          <h6 class="comments-title">Comments</h6>
          <textarea
            nbInput
            fullWidth
            rows="4"
            placeholder="Add comments here..."
          ></textarea>
          <p class="comment-text">1. Full payment is required...</p>
          <p class="comment-text">2. Please Provide accurate details...</p>
        </div>
        <div class="col-sm-6 totals-section">
          <div class="totals-row">
            <span>SUBTOTAL</span>
            <hr />
            <span>{{ addInvoice.subtotal | currency : "INR" }}</span>
          </div>
          <hr />
          <div class="totals-row">
            <span>CGST </span>
            <span>{{ addInvoice.discount | currency : "INR" }}</span>
          </div>
          <div class="totals-row">
            <span>SGST </span>
            <span>{{ addInvoice.discount | currency : "INR" }}</span>
          </div>
          <div class="totals-row strong-row">
            <span>TAXABLE AMOUNT</span>
            <span>{{
              addInvoice.taxableAmount | currency : "INR"
            }}</span>
          </div>
          <div class="totals-row">
            <span>Discount ({{ addInvoice.discountPercent }}%)</span>
            <span>{{ addInvoice.discount | currency : "INR" }}</span>
          </div>
          <hr />
          <div class="totals-row grand-total-row">
            <span class="font-weight-bold">GRAND TOTAL</span>
            <span class="font-weight-bold">{{
              addInvoice.grandTotal.valueOf() | currency : "INR"
            }}</span>
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>

  <nb-card-footer>
    <div class="action-buttons">
      <button nbButton status="danger" (click)="cancel()">CANCEL</button>
      <button
        nbButton
        status="success"
        (click)="saveInvoice()"
        [disabled]="!form.valid"
      >
        ADD
      </button>
    </div>
  </nb-card-footer>
</nb-card>
