

/* Interactive elements */
nb-list-item:hover {
  background-color: aquamarine;
}

.nb-icon:hover {
  color: royalblue;
}

.card-icon {
  margin-left: 80px;
}

.card-icon:hover {
  color: royalblue;
}

/* Card content layout */
.card-content {
  justify-content: space-between;
  display: flex;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}

.header-container button nb-icon:hover{
  color: royalblue;
}

.header-title {
  font-size: 1.2rem;
  font-weight: 600;
}

nb-layout-header > .layout-container {
  padding-top: 0rem !important;
}