nb-list-item:hover{
    background-color: aquamarine !important;
}

.nb-icon:hover{
    color: royalblue;
}

.card-icon{
    margin-left: 80px !important;
}

.card-icon:hover{
    color: royalblue;
}

/* admin-list.component.scss */
 .card-content{
    justify-content:space-between;
    display: flex;
 }