<nb-layout>
  <nb-layout-header fixed>
    <div class="header-container">
      <button nbButton ghost (click)="toggle()">
        <nb-icon icon="menu-arrow-outline"></nb-icon>
      </button>
      <span class="header-title">Admin Name</span>
    </div>
  </nb-layout-header>

  <nb-sidebar
    tag="super-sidebar"
    state="expanded"
    responsive
    style="background-color: aliceblue"
  >
    <nb-menu [items]="menuItems"></nb-menu>
  </nb-sidebar>

  <nb-layout-column [nbSpinner]="loading" nbSpinnerStatus="primary" fixed class="layout-column">
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
