::ng-deep {
  nb-card-body {
    max-height: 70vh;
  }

  button + button {
    margin-left: 1rem;
  }
}

.nb-theme-default [nbInput].size-medium {
  margin: 10px;
}

// Style to give space between input/label groups
.form-group {
  margin-bottom: 1rem;

  .form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px; /* spacing fix */
    flex-wrap: wrap; /* IMPORTANT */

    .form-col1,
    .form-col2 {
      display: flex;
      flex-direction: column;
    }

    /* Desktop widths */
    .form-col1 {
      max-width: 100%;
      min-width: 60%;
    }

    .form-col2 {
      width: auto;
    }
  }
}

@media (max-width: 600px) {
  .form-row {
    display: flex;
    flex-direction: column;

    .form-col2 {
      display: flex;
      flex-direction: row;
    }
  }

}

// Adjust label style if necessary
.label {
  display: flex; // Makes the label take full width above the input
  margin-bottom: 0.5rem; // Space between label and input field
  letter-spacing: 0.4px;
}

// Align action buttons to the right (common pattern)
.action-buttons {
  display: flex;
  justify-content: flex-end; // Pushes buttons to the right
  gap: 1rem; // Adds space between the buttons
}

.wide-dialog-card {
  width: 40rem;
  max-width: 80vw; // 90% of the viewport width
}

// Keep your existing form-group styles for spacing
.form-group {
  margin-bottom: 1.5rem;
}

.action-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
