@forward "@nebular/theme/styles/theming";
@use "@nebular/theme/styles/theming" as *;
@use "@nebular/theme/styles/themes/default";

$nb-enable-css-custom-properties: true;

$nb-themes: nb-register-theme(
  (
    color-basic-100: black,
    // Example: White background
    color-primary-500: #00ffff,
    // Example: Primary blue
    background-basic-color-1: color-basic-100,
    // ... other color variables you want to change
  ),
  custom-theme-name,
  // Give your custom theme a name
  default // Base your custom theme on an existing Nebular theme
);
