<nb-layout>
  <nb-layout-header fixed>
    <div class="logo-container">
      <a [routerLink]="['/']">bill manager</a>
    </div>
  </nb-layout-header>

  <nb-layout-column>
    <div class="welcome-content">
      <nb-card class="welcome-card">
        <nb-card-header>
          <h2>Test mode</h2>
        </nb-card-header>
        <nb-card-body>
          <p>Please select a mode to continue</p>
          <div class="button-group">
            <!-- <button nbButton status="primary" size="medium" [routerLink]="['/super-admin']">
          <nb-icon icon="people-outline"></nb-icon>
          Super Admin
        </button> -->
            <button nbButton status="info" size="medium" [routerLink]="['/admin']">
              <nb-icon icon="person-outline"></nb-icon>
              Admin
            </button>
          </div>
        </nb-card-body>
      </nb-card>

      <!-- <nb-card>
    <nb-card-header>
      <h3>Login</h3>
    </nb-card-header>

    <nb-card-body>
      <form (ngSubmit)="login()">

        <label for="username-input" class="label">Username</label>
        <nb-form-field>
          <input nbInput fullWidth id="username-input" placeholder="Enter Username" />
          <nb-icon nbPrefix icon="person-outline" pack="eva"></nb-icon>
        </nb-form-field>


        <label for="password-input" class="label">Password</label>
        <nb-form-field>
          <input nbInput fullWidth id="password-input" type="password" placeholder="Enter Password" />
          <nb-icon nbPrefix icon="lock-outline" pack="eva"></nb-icon>
        </nb-form-field>

        <div class="login-button">
          <button nbButton [routerLink]="['/{{selectRole}}']" status="primary" type="submit">
            Login
          </button>
        </div>
      </form>
    </nb-card-body>

    <nb-card-footer>
      <p class="text-center">Forgot Password?</p>
    </nb-card-footer>
  </nb-card> -->
    </div>

  </nb-layout-column>
</nb-layout>