<nb-layout windowMode>

  <!-- <nb-layout-header fixed class="site-header">
    <div class="nav-container">
      <div class="logo">bill-flow</div>
      <div class="nav-right">
        <button nbButton outline status="basic" routerLink="/login">Login</button>
        <button nbButton status="primary" routerLink="/admin">Sign Up</button>
      </div>
    </div>
  </nb-layout-header> -->

  <nb-layout-column>
    <div class="nb-tag">
      <nb-tag status="info" appearance="outline" text="✨ New Features added | version - 1.05.06 →"
        routerLink="/login"></nb-tag>
    </div>

    <div class="welcome-content">
      <nb-card class="welcome-card">
        <nb-card-header>
          <h4>Test Mode Enabled</h4>
        </nb-card-header>
        <nb-card-body>
          <p class="desc">
            Your account is currently running in a safe sandbox environment.
            Explore all features freely without affecting your real billing data.
          </p>
          <ul class="highlights">
            <li><nb-icon status="success" icon="checkmark-circle-2-outline"></nb-icon> Full feature access</li>
            <li><nb-icon status="success" icon="checkmark-circle-2-outline"></nb-icon> No charges in test mode</li>
            <li><nb-icon status="success" icon="checkmark-circle-2-outline"></nb-icon> Safe for team training</li>
          </ul>
          <p class="desc">use this credentials</p>
          <ul class="highlights">
            <li><nb-icon icon="hash-outline"></nb-icon>Admin</li>
            <li><nb-icon icon="hash-outline"></nb-icon>Admin&#64;1234</li>
          </ul>
          <nb-card-footer>
            <div class="button-group">
              <button nbButton status="primary" size="medium" [routerLink]="['/login']">
                <nb-icon icon="log-in-outline"></nb-icon>
                login
              </button>
            </div>
          </nb-card-footer>
        </nb-card-body>
      </nb-card>
    </div>

    <section id="features" class="features-section">
      <h2>Features</h2>

      <div class="feature-grid">
        <nb-card class="feature-card">
          <img src="assets/team.svg">
          <h4>Multi Admin</h4>
          <p>Add staff & control roles.</p>
        </nb-card>

        <nb-card class="feature-card">
          <img src="assets/cart.svg">
          <h4>Products</h4>
          <p>Simple stock control.</p>
        </nb-card>

        <nb-card class="feature-card">
          <img src="assets/security.svg">
          <h4>Secure Login</h4>
          <p>Modern authentication.</p>
        </nb-card>
      </div>
    </section>


    <!-- FOOTER -->
    <footer class="site-footer">
      <div>Bill-Flow — Made with care 
        <!-- 💝 by<b><a href="https://github.com/vi0650" target="_blank">Vaibhav Padmani</a></b>. -->
      </div>

      <div>
        <a (click)="build()">Docs</a> | <a (click)="build()">Contact</a> | <a (click)="build()">Privacy</a>
      </div>
    </footer>

  </nb-layout-column>

</nb-layout>