// COLORS
$primary: #2263ff;
$bg: #f2f6fb;
$text-dark: #0f1724;
$text-light: #344055;
$shadow: 0 8px 20px rgba(18, 40, 80, 0.03);

// MIXINS
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-container {
  width: 100%;
  max-width: 1200px;
  padding: 0 16px;
  margin: auto;
}

.welcome-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0 0 0;

  .welcome-card {
    display: flex;
    justify-content: center;
    max-width: 30rem;
    max-height: fit-content;

    h2,
    p {
      color: var(--text-basic-color);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .button-group {
      display: flex;
      justify-content: center;
      gap: 1rem;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .button-group button {
      min-width: 3rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}

button {
  letter-spacing: 0.6px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

// GLOBAL
nb-layout-column {
  background: $bg !important;
  padding: 0 !important;
}

// HEADER
nb-layout-header {
  .nav-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;

    .logo {
      font-size: 20px;
      font-weight: 800;
      color: #000;
    }
  }

  .nav-right {
    display: flex;
    gap: 12px;
    justify-content: right;
  }
}

// nb-tag
.nb-tag {
  display: flex;
  justify-content: center;
  margin: 6rem 0 0rem 0;
  background-color: linear-gradient(
    135deg,
    rgba($primary, 0.08),
    rgba(0, 200, 150, 0.04)
  );
}

// GLASS BANNER
.glass-banner {
  @extend .page-container;
  margin: 30px auto;
  padding: 24px;
  border-radius: 14px;
  background: linear-gradient(
    135deg,
    rgba($primary, 0.08),
    rgba(0, 200, 150, 0.04)
  );
  border: 1px solid rgba($primary, 0.12);
  text-align: center;
}

// FEATURES
.features-section {
  @extend .page-container;
  padding: 3rem 0rem;
  text-align: center;

  h2 {
    margin: 2rem 2rem;
    // background-color: #2263ff;
  }

  .feature-grid {
    display: grid;
    gap: 20px;
    margin-top: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }

  .feature-card {
    background: #fff;
    padding: 22px;
    border-radius: 12px;
    box-shadow: $shadow;

    img {
      width: 100%;
      max-width: 120px;
      margin: auto;
      display: block;
    }
  }
}

// FOOTER
.site-footer {
  @extend .page-container;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
